<footer class="border-top footer text-muted">
    <div class="container">
        <a href="@ChaseLabs.Games.SWF.STDLib.Global.Values.CompanyURL">@ChaseLabs.Games.SWF.STDLib.Global.Values.CompanyName</a> -  &copy; 2020 - @DateTime.Now.Year - @ChaseLabs.Games.SWF.STDLib.Global.Values.ApplicationName <i>(CoAuthor): @ChaseLabs.Games.SWF.STDLib.Global.Values.CoAuthor</i>
    </div>
</footer>